@model IEnumerable<TOP2000UI.ViewModels.Top2000ViewModel>

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="list-display">
        @*<div class="">
            <ul>
                <li>
                    @Html.DisplayNameFor(model => model.Positie)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Title)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.ArtiestNaam)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Jaar)
                </li>
            </ul>
        </div>*@
                    
        <ul>
            @foreach (var item in Model)
            {
            <li>
                <div class="list-item">
                    @Html.DisplayFor(modelItem => item.Positie)
                </div>
                <div class="list-item">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="list-item">
                    @Html.DisplayFor(modelItem => item.ArtiestNaam)
                </div>
                <div class="list-item">
                    @Html.DisplayFor(modelItem => item.Jaar)
                </div>
            </li>
            }
        </ul>
    </div>
